

body{
  height:80%;
  width:80%;
  

}

.container{
  border-radius: 40px;
 
}


.quote-container{
  height:80%;
  width:100%;
  margin-top:50px;
  margin-bottom:50px;
  padding:50px;
  background-color:aqua;

}

.generate_button{
background-color: darkblue;
color:aliceblue;
border:2px,solid,darkblue;
padding:10px;
cursor:pointer;
font-size:20px;
margin-left:47%;
transition-duration: 3000ms;
}